src/haml/index.haml
!!! 5
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Day&Night
    / start of gamework styles
    %link{href: "css/main.css", rel: "stylesheet"}/

    %script{ src: "/vendor/Math2.js"}
    %script{ src: "/vendor/stats.min.js"}
    %script{ src: "/vendor/jquery-2.1.3.min.js"}
    %script{ src: "/vendor/lodash.js"}
    %script{ src: "/vendor/createjs-2014.12.12.min.js"}
    %script{ src: "/vendor/Spine.js"}
    %script{ src: "/js/client/easelSpine.js"}

    %script{ data-main: "js/client/main", src: "/vendor/require.js"}
  %body{ unselectable:"on" }
    .wrapper
      #fs Fullscreen
      .sign_in
        Введите ник:&nbsp;
        %input#nick{ name:"nick", type:"text" }
        %input{ type: "button", value: "Войти" }

public/index.html
<!DOCTYPE html>
<html><head><meta content="text/html; charset=utf-8" /><title>Day&Night</title><!--start of gamework styles--><link href="css/main.css" rel="stylesheet" /><script src="/vendor/Math2.js"></script><script src="/vendor/stats.min.js"></script><script src="/vendor/jquery-2.1.3.min.js"></script><script src="/vendor/lodash.js"></script><script src="/vendor/createjs-2014.12.12.min.js"></script><script src="/vendor/Spine.js"></script><script src="/js/client/easelSpine.js"></script><script data-main="js/client/main" src="/vendor/require.js"></script></head><body unselectable="on"><div class="wrapper"><div id="fs">Fullscreen</div><div class="sign_in">Введите ник:&nbsp;<input name="nick" type="text" id="nick" /><input type="button" value="Войти" /></div></div></body></html>
